.signUp {
  color: white;
  background-color: black;
  border: 0px;
  font-size: 12px;
  width: 80px;
  height: 30px;
}
.form {
  border: 1px solid black;
  width: 360px;
  height: 270px;
  text-align: center;
  margin-top: 70px;
  margin-left: 80px;
  padding-top: 60px;
  position: relative;
}
