.header {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
  & .span {
    margin-right: 15px;
    display: flex;
    gap: 20px;
    font-size: 36px;
    font-family: "Libre Bodoni";
  }
}
.themeImg {
  height: 44px;
}
